powerautomate/FLow 8/Flow8assignSecurityroles-4CE7870C-E607-93E5-409E-80313B698758.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "spear_sharedcommondataserviceforapps_9d232"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "spear_persondirectory",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "$filter": "azureactivedirectoryobjectid eq @{triggerOutputs()?['body/spear_entraobjectid']}",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {}
        },
        "List_rows_1": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "teams",
              "$filter": "name eq 'Project Spear'",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('List_rows')?['body/value'])",
                  0
                ]
              },
              {
                "greater": [
                  "@length(outputs('List_rows_1')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Relate_rows": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "teams",
                  "recordId": "@first(body('List_rows_1')?['value'])?['teamid']",
                  "associationEntityRelationship": "teammembership_association",
                  "item/@odata.id": "@concat(\r\n  'https://orgb8f58bdb.crm20.dynamics.com/api/data/v9.1/systemusers(',\r\n  first(outputs('List_rows')?['body/value'])?['systemuserid'],\r\n  ')'\r\n)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "AssociateEntities",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "List_rows_1": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}