powerautomate/FLow 6/Flow6Responsealert-DC2D13CF-CF8A-689D-3615-34E89DC16E9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "spear_sharedteams_f364f"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "TagID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "MsgID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Do_until": {
          "type": "Until",
          "expression": "@equals(outputs('Get_a_team_tag')?['body/memberCount'],0)",
          "limit": {
            "count": 2000,
            "timeout": "PT2H"
          },
          "actions": {
            "Get_an_@mention_token_for_a_team_tag": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "groupId": "98861591-14a4-425a-97b4-092ec3044122",
                  "tagId": "@triggerBody()?['text']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                  "operationId": "AtMentionTag",
                  "connectionName": "shared_teams"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runAfter": {
                "Delay_2_sec_interval": [
                  "Succeeded"
                ]
              }
            },
            "Delay_2_sec_interval": {
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 2,
                  "unit": "Second"
                }
              }
            },
            "Increment_variable": {
              "type": "IncrementVariable",
              "inputs": {
                "name": "Iteration count",
                "value": 1
              },
              "runAfter": {
                "Reply_with_a_message_in_a_channel": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('Iteration count')",
                      10
                    ]
                  }
                ]
              },
              "actions": {
                "Set_variable": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Iteration count",
                    "value": 0
                  }
                },
                "Delay_10_rest": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 10,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Increment_variable": [
                  "Succeeded"
                ]
              }
            },
            "Reply_with_a_message_in_a_channel": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "poster": "User",
                  "location": "Channel",
                  "body/parentMessageId": "@triggerBody()?['text_1']",
                  "body/recipient/groupId": "98861591-14a4-425a-97b4-092ec3044122",
                  "body/recipient/channelId": "19:76fd78e886e14eb6bade78638dc65ccc@thread.tacv2",
                  "body/messageBody": "<p class=\"editor-paragraph\">@{outputs('Get_an_@mention_token_for_a_team_tag')?['body/atMention']}</p><br><p class=\"editor-paragraph\"><span style=\"color: rgb(208, 2, 27);\">Please respond in the Always ready APP</span></p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                  "operationId": "ReplyWithMessageToConversation",
                  "connectionName": "shared_teams"
                }
              },
              "runAfter": {
                "Get_an_@mention_token_for_a_team_tag": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "recallstatus": {
                  "title": "Recallstatus",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "recallstatus": "RECALL ENDED"
            }
          },
          "runAfter": {
            "Do_until": [
              "TimedOut",
              "Failed"
            ]
          }
        },
        "Get_a_team_tag": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "groupId": "98861591-14a4-425a-97b4-092ec3044122",
              "tagId": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
              "operationId": "GetTag",
              "connectionName": "shared_teams"
            }
          },
          "runAfter": {}
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Iteration count",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Get_a_team_tag": [
              "Succeeded"
            ]
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Respond_to_a_Power_App_or_flow": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}