powerautomate/FLow 11/FLow11Whencheck-inhappensupdateNominalroll-4C31510D-0310-F111-8341-7CED8DB56457.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "spear_sharedcommondataserviceforapps_9d232"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "spear_inprocheckins",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "TodayDate": {
          "type": "Compose",
          "inputs": "formatDateTime(utcNow(),'yyyy-MM-ddT00:00:00Z')",
          "runAfter": {}
        },
        "Update_a_row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "spear_nominalrolls",
              "recordId": "@triggerOutputs()?['body/_spear_nominalroll_value']",
              "item/spear_recallcheckintime": "@triggerOutputs()?['body/spear_scantime']",
              "item/spear_recalldate": "@formatDateTime(utcNow(),'yyyy-MM-ddT00:00:00Z')",
              "item/spear_recallstatus": 939290000
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "TodayDate": [
              "Succeeded"
            ]
          }
        },
        "Delay": {
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 24,
              "unit": "Hour"
            }
          },
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@triggerOutputs()?['body/createdon']",
                  "@addHours(utcNow(), -24)"
                ]
              }
            ]
          },
          "actions": {
            "Delete_a_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "spear_inprocheckinses",
                  "recordId": "@triggerOutputs()?['body/spear_inprocheckinsid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "DeleteRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}